<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zcw.mapper.BrandMapper">

    <!--查询所有数据-->
    <select id="findAll" resultType="Brand">
        select * from tb_brand
    </select>

    <!--通过主键查询-->
    <select id="findOne" parameterType="Long" resultType="Brand">
        select * from tb_brand where id = #{id}
    </select>

    <!--修改-->
    <update id="update" parameterType="Brand">
        update tb_brand set name = #{name},first_char = #{firstChar} where id = #{id}
    </update>

    <!--保存-->
    <insert id="insert" parameterType="Brand">
        insert into tb_brand values (null,#{name},#{firstChar})
    </insert>
    <!--通过主键删除-->
    <delete id="delete" parameterType="Long">
        delete from tb_brand where id = #{id}
    </delete>

</mapper>